body {
    background-color: rgb(232, 234, 241);
}

.page {
    display: grid;
    align-items: center; 
    width: 100%;
    margin: auto;
}

.main-card {
    text-align: center;
    width: 60%;
    min-height: 70%;
    place-self: center;
    margin-top: 100px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.212);
}

.main-card-picture {
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    width: auto;
    font-size:xx-large;
    text-align: center;
    color: aliceblue;
    background-color: rgb(233, 233, 233);
    border-bottom: 5px solid darkred;
    background-image: url("https://www.imgcorporations.com/images/bg-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-card-form {
    height: 450px;
}

.main-card form table {
    margin: 50px auto;
}

.custom-input {
    margin: 5px;
    width: 100%;
    padding: 10px;;
    border-bottom: 2px solid black;
}

.custom-button-login, .custom-button-account {
    color:aliceblue;
    background-color: #4f6fe8;
    padding: 10px;
    border-radius: 4px;
    margin: 15px;
}

.custom-button-login:hover {
    background-color: rgb(13, 128, 194);
    cursor: pointer;
}

.custom-button-action:hover {
    color: #4964ff;

}

.layout-panel-start {
    width: 100%;
    height: auto;
}

.sub-layout-panel-start {
    width: 79%;
    height: auto;
}

.panel {
    display: grid;
    text-align: center;
    width: 100%;
    min-height: 70%;
    place-self: center;
    margin-top: 100px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.212);
}

.panel-box, .panel-top, .panel-action, .panel-list, .account-box{
    text-align: left;
    margin: 20px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.212);
    background-color: white;

}

.panel-box, .account-box{
    width: 20%;
    height: 820px;
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
    text-align: center;
}

.panel-top {
    margin: 0px;
    width: 100%;
    height: 60px;
}

.panel-action {
    height: 200px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.212);
}

.panel-list {
    min-height: 89vh;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.212);
    background-color: #e8eaf1;
}

.panel-box {
    margin-left: 19px;
    
}

.panel-box, .sub-layout-panel-start {
    float: left;
}

.img-icon-profile {
    scale: 0.6;
}

.action-list-type {
    list-style-type: 'sad';
    
    margin: 20px;
}

.action-list-type li{
    display: inline-flex;
    display: flex;
    padding: 0;
    /* Bonus: forces no word-wrap */
    white-space: nowrap;
    padding: 5px;
    margin: 2px;
    margin-top: 10px;
    border-bottom: 2px dashed rgb(199, 196, 196);
}
.action-list-type li:hover{
    border-bottom: 2px solid #4964ff;
    color: #4964ff;
    cursor: pointer;
}

.header-of-container {
    font-size: larger;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 3px;
    margin-left: 3px;
}

.right-nav {
    text-align: right;
    width: 600px;
    float: right;
    height: 100%;
}

.left-nav {
    float: left;
    height: 100%;
    width: 50%;
}

.left-nav ol a li {
    border-right: 2px solid rgb(214, 213, 213);
    display: inline;
    padding-right: 15px;
    padding-left: 15px;
}

.custom-button-account {
    width: 100px;
    height: 35px;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0; 
    vertical-align: baseline;  
}

.subject-list-table{
    width: 100%;
    margin-top: 10px;
}

.subject-list-table thead tr td, .subject-list-table tbody tr td {
    padding: 5px;
    margin: 1px;
    border-bottom: 1px solid rgb(161, 161, 161);
}
.subject-list-table tbody tr td:hover {
    padding: 5px;
    border-bottom: 1px solid #4964ff;
    margin: 1px;
}
.subject-list-table tbody tr:hover {
    padding: 5px;
    margin: 1px;
    background-color: #f8f8f8;
}

.subject-list-table thead {
    background-color: #4f6fe8;
    color: whitesmoke;
}

.link-open-in-new-page {
    width: 25px;
    height: 25px;
}

.account-box {
    width: 40%;
    margin: 20px auto !important;
}

.account-data-table {
    width: 80%;
    text-align: left;
    margin: 20px auto !important;
}
.account-data-table tr td {
    padding: 10px;
    border-bottom: 1px solid gainsboro;
}
.account-data-table tr td:nth-child(2) {
    padding: 10px;
    text-align: center;
}

.selected-list {
    color: #4964ff;
    border-bottom: 1px solid #4964ff;
}

.order-radio-box {
    margin: 10px;
}
.searching-form {
    margin: 50px;
}
.hidden-content {
    display: block;
    transition: opacity 0.3s ease, height 0.3s ease;
}
.hidden-content {
    display: none;
    transition: opacity 0.3s ease, height 0.3s ease;
}